/* stylesheet for DemoSite02_StudyWeb */

/* global settings */
/* ============================================ */

/* charset */
@charset "UTF-8";

/* import font-family */
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/* basic settings */
body {
    font-size: inherit;
    font-family: sans-serif;
    color: rgb(71, 49, 17);
}

/* link */
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: rgb(0, 187, 221)
}

/* list style */
ul {
    list-style: none;
}

/* clear fix */
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

/* img */
img {
    max-width: 100%;
    display: block;
}


/* page header */
/* ============================================ */

/* page head background */
#pageHead {
    background: 0% 0% / cover no-repeat;
}
#pageHead.page_news{
    background-image: url(../images/news/news-bg.jpg);
}

/* global head */
/* -------------------------------------------- */

/* site logo */
#pageHead .siteLogo {
    width: 13em;
    height: auto;
    margin: 0 auto;
    padding: 1em 0;
}

/* global navi */
#pageHead .globalNavi ul {
    display: flex;
    justify-content: center;
}
#pageHead .globalNavi ul li:not(:last-child) {
    margin-right: 2em;
}

/* local head */
/* -------------------------------------------- */

/* page title */
#pageHead .pageTitle {
    padding: 1em 0;
    font-size: 2.6em;
    font-family: 'Philosopher';
    font-weight: 400;
    text-align: center;
}


/* page footer */
/* ============================================ */

/* page body */
/* ============================================ */

#pageBody {
    margin-top: 3em;
    background: rgb(255, 255, 255)
}

/* main column */
/* -------------------------------------------- */

/* article */
#pageBody .mainColumn article {
    margin-bottom: 5em;
    padding: 0 1em;
}

/* article top */
/* - - - - - - - - - - - - - - - - - - - - - - */

#pageBody .mainColumn .articleTop {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

/* article title and category */
#pageBody .mainColumn .articleTitAndCat {
    order: 2;
    margin-left: .5em;
}
#pageBody .mainColumn .articleTitle {
    padding-top: .3em;
    font-size: 1.4em;
    font-family: serif;
    font-weight: inherit;
}
#pageBody .mainColumn .articleCategory {
    margin-top: .5em;
}
#pageBody .mainColumn .articleCategory * {
    font-size: .95em;
    font-weight: inherit;
}

/* article date */
#pageBody .mainColumn .articleDate {
    order: 1;
    width: 5em;
    height: 5em;
    min-width: 5em;
    font-family: serif;
    background: rgb(0, 187, 221);
    border-radius: 50%;
}
#pageBody .mainColumn .articleDate > * {
    width: min-content;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}
#pageBody .mainColumn .articleMMDD {
    padding: .7em .3em 0;
    font-size: 1.1em;
    border-bottom: solid 1px rgb(255, 255, 255);
}
#pageBody .mainColumn .articleYYYY {
    padding-top: .1em;
    font-size: .95em;
}